:root {
	font-size: 12pt;
	--body-color: #222;
	--book-header-underline: rgba(50, 50, 50, 0.2);
	--form-container-bg: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
	font-family: monospace;
	color: var(--body-color);
}

header, section, footer {
	width: 80vw;
	margin: auto;
}

.book-header {
	padding: 10px 2px;
	border-bottom: 1px solid var(--book-header-underline);
	margin-bottom: 22px;
}

.book-header > h1 {
	font-size: 2.1rem;
	font-weight: normal;
}

.insert-site-container {
	background-color: var(--form-container-bg);
	padding: 20px;
	margin-bottom: 12px;
}

.insert-site-header {
	width: 70%;
	border-bottom: 1px solid var(--book-header-underline);
	padding-bottom: 10px;
	margin-bottom: 28px;
}

.insert-site-header > h3 {
	font-weight: normal;
	font-size: 1.4rem;
	text-align: center;
}

.insert-site-form {
	width: 70%;
	display: grid;
	margin: auto;
	grid-template-areas: "label1 label2"
	"input1 input2" ". button";
	column-gap: 10px;
}

.insert-site-form > input {
	width: 100% ;
	margin-top: 8px;
	margin-bottom: 20px;
	border: 1px solid #777;
	padding: 6px 8px;
	border-radius: 4px;
}

.insert-site-form > #siteName {
	grid-area: input1;
}

.insert-site-form > button {
	width: 50%;
	grid-area: button;
	justify-self: flex-end;
	background: #333;
	border: 0;
	border-radius: 4px;
	color: white;
	padding: 6px;
	cursor: pointer;
}

.sites-list-header {
	font-size: 1.2rem;
	padding-bottom: 15px;
	margin-top: 30px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--book-header-underline);
}

.site-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.site-description-container {
	width: calc(25% - 20px);
	background-color: var(--form-container-bg);
	padding: 14px 3%;
	margin-top: 20px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-description-container:not(:nth-child(n+4)) {
	margin-right: 20px;
}

footer {
	margin-top: 40px;
}
