:root {
	font-size: 12pt;
	--body-color: #222;
	--book-header-underline: rgba(50, 50, 50, 0.2);
	--form-container-bg: #f1f1f1;
	--body-bg: #fcfcfc;
	--success: #3a5;
	--error: #c44;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
}

body {
	background-color: var(--body-bg);
	font-family: monospace;
	color: var(--body-color);
}

header, section, footer {
	width: 85vw;
	margin: auto;
}

.book-header {
	padding: 10px 2px;
	border-bottom: 1px solid var(--book-header-underline);
	margin-bottom: 22px;
}

.book-header > h1 {
	font-size: 2.1rem;
	font-weight: normal;
}

.message-field {
	width: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	transition: all 0.5s linear;
}

.app-message {
	width: 100%;
	margin: 10px 20px 0px 0px;
	color: white;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.4);
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: show 2.7s ease-out;
	animation-fill-mode: backwards;
}

.app-message > p {
	font-size: 3.6rem;
	margin-right: 18px;
}

.app-message h4 {
	font-size: 1.2rem;
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid white;
}

.success-message {
	background-color: var(--success);
}

.error-message {
	background-color: var(--error);
}

.insert-site-container {
	background-color: var(--form-container-bg);
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 12px;
}

.insert-site-header {
	width: 70%;
	border-bottom: 1px solid var(--book-header-underline);
	padding-bottom: 10px;
	margin-bottom: 28px;
}

.insert-site-header > h3 {
	font-weight: normal;
	font-size: 1.4rem;
	text-align: center;
}

.insert-site-form {
	width: 70%;
	display: grid;
	margin: auto;
	grid-template-areas: "label1 label2"
	"input1 input2" ". button";
	column-gap: 10px;
}

.insert-site-form > input {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 20px;
	border: 1px solid #777;
	padding: 6px 8px;
	border-radius: 4px;
}

.label1 {
	grid-area: label1;
}

.label2 {
	grid-area: label2;
}

.insert-site-form > input[name=siteName] {
	grid-area: input1;
}

.insert-site-form > input[name=siteUrl] {
	grid-area: input2;
}

.insert-site-form > button {
	width: 50%;
	grid-area: button;
	justify-self: flex-end;
	background: #333;
	border: 0;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	padding: 6px;
	cursor: pointer;
}

.sites-list-header {
	font-size: 1.2rem;
	padding-bottom: 15px;
	margin-top: 30px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--book-header-underline);
}

.site-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.site-description-container {
	width: calc(33.33% - 10px);
	background-color: var(--form-container-bg);
	padding: 14px 15px;
	margin: 0 5px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.site-description-container > a {
	font-size: 1.05rem;
	text-decoration: none;
	color: #222;
}

.site-description-container > a:hover {
	font-weight: bold;
}

.site-description-actions {
	margin-left: 0px;
}

.site-description-actions > button {
	color: #f5f5f5;
	padding: 6px 10px;
	border: 0;
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
}

.site-description-actions > button:first-child {
	background-color: #28b;
}

.site-description-actions > button:last-child {
	background-color: #c44;
}

.no-item-message {
	width: 100%;
	height: 18vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--form-container-bg);
	margin-top: 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	cursor: default;
}

footer {
	margin-top: 40px;
	margin-bottom: 20px;
}

@keyframes show {
	0%, 100% {
		transform: translateX(120%);
	}
	20%, 80% {
		transform: translateX(0px);
	}
}

@media screen and (max-width: 1300px) {
	.site-description-container {
		width: calc(50% - 20px);
	}
}

@media screen and (max-width: 768px) {
	header, section, footer {
		width: 90vw;
	}
}

@media screen and (max-width: 425px) {
	.insert-site-header,
	.insert-site-form,
	.site-description-container {
		width: 100%;
	}

	.site-description-container {
		margin: 7px 0px;
		padding: 10px;
	}

	.insert-site-header > h3 {
		font-size: 1.25rem;
	}

	.insert-site-form {
		display: flex;
		flex-direction: column;
	}

	.insert-site-form > button {
		width: 100%;
	}
}